h2{
    margin: 0px;
}

section{
    width:888px;
}

.PanelTitulo{
    background:red;
    text-align:center;
    vertical-align: center;
    color:white;
    position:relative;
    top:71px;
    left:100px;
    height:300px;
    background-image: url('../img/fondoTitulo.png');
}

.PanelTitulo h1{
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    text-align: center;
}

.PanelSobreMi{
    background:#7299FE;
    text-align:center;
    vertical-align: center;
    color:white;
    position:relative;
    top:71px;
    left:100px;
    height:170px;
    padding: 20px;
}

.PanelSobreMi h2{
    font-family: Arial;
}

.PanelSobreMi p{
    text-align: initial;
    font-family: Arial;
    font-size: 11px;
    font-style: normal;
}

.PanelSobreMi button{
    align-items: initial;
    text-align: start;
    font-family: Arial;
    font-size: 11px;
    font-style: normal;
    background: #D16FFF;
    height: 40px;
    width: 80px;

    border-radius: 20px;
}

.PanelSobreMi h2{
    padding: 10px;
    color: #26CC4B;
    font-size: 36px;
}



.PanelSkills{
    background:#9122FF;
    text-align:center;
    vertical-align: center;
    color:white;
    position:relative;
    top:71px;
    left:100px;
    height:300px;
}


.PanelSkills h2{
    padding: 10px;
    color: #26CC4B;
    font-size: 36px;
}


/*Portafolio*/
.PanelPortaFolio{
    background:#FFD233;
    text-align:center;
    vertical-align: center;
    color:white;
    position:relative;
    top:71px;
    left:100px;
    height:400px;
}

.PanelPortaFolio h2{
    padding: 20px;
    color: #00AD84;
    font-size: 36px;
}

.PanelPortaFolio .imagenes   {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

/*Clientes*/

.PanelClientes{
    background:#3F4E62;
    text-align:center;
    vertical-align: center;
    color:white;
    position:relative;
    top:71px;
    left:100px;
    height:250px;
}

.PanelClientes h2{
    padding: 20px;
    color: #ADFF28;
    font-size: 36px;
}

.PanelClientes .imagenes   {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

/*Contactos*/
.PanelContacto{
    background:#1687A0;
    text-align:center;
    vertical-align: center;
    color:white;
    position:relative;
    top:71px;
    left:100px;
    height:400px;
}

.PanelContacto h2{
    padding: 20px;
    color: #FF1B1B;
    font-size: 36px;
}

.PanelContacto input{
    padding: 10px;
    margin: 10px;
}

.PanelContacto button{
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    color: white;
    background: #233451;
}