/*************************************************
              Variables Globales
**************************************************/
body {
  font-family: Arial, Helvetica, sans-serif; /*Digo que toda la web tendra esta fuente */  
  color: white; /*El texto de toda la web sera de color blanco*/
}

main {
  max-width: 960px;/*Ancho a toda la pantalla*/
  margin: auto;/*Hago que todo el main se ponga en el medio*/
}

section{
  vertical-align: center;
  padding: 2% 2% 6% 2%;
}


/*Globales Elementos*/
h1{
  text-align: center;
  font-size: 50px;
  text-shadow: 1px 1px 9px black;
}

h2{
  font-size: 36px;
  text-align: center;
  padding: 2% 2% 2% 2%;
}

textarea {
  max-width: 80%;
}

input {
  margin: 20%;
}

p{
  font-size: 16px;
}


/*Imagenes*/
.figure-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

figure{
  overflow: hidden;

  text-align: center;
}

@media (min-width: 620px) {
  figure {
    column-count: 1;
    column-gap: 20px;
  }
  
  figure {
    break-inside: avoid;
  }
}



/******************************************/
/**********      Panel Titulo   ***********/
/******************************************/
.PanelTitulo {
  padding: 20px 20px 80px 20px ;
  background-image: url("../img/fondoTitulo.png");
}

.NombreSubtitulo {
  margin-left: 20px;
  margin-top: 140px;
  width: 40%;
  background: rgba(114, 153, 254, 0.4);
  border-radius: 20px;
  padding: 2%;
  text-shadow: 1px 3px 0.5px black;
}


/******************************************/
/*****           Sobre mi     *************/
/******************************************/
.PanelSobreMi {
  background: #7299fe;
}

.PanelSobreMi h2 {
  color: #26cc4b;
}

.parrafoSobreMi {
  padding: 20px;
}

.PanelSobreMi button {
  margin-left: 50px;
  font-size: 20px;
  background: #d16fff;
  padding: 2% 4% 2% 4%;
  color: white;
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}



/*********************************************/
/**************  Panel Skills    *************/
/*********************************************/
.PanelSkills {
  background: #9122ff;
}

.PanelSkills .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.PanelSkills h2 {
  color: #26cc4b;
}

.bloqueSkills {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.TituloSkill {
  font-size: 25px;
  margin: 5px;
  padding: 10px;
}

.skillBarra {
  background: white;
  width: 100%;
  height: 30px;
  border-radius: 20px;
}

.skillBarraCeleste {
  background: #57eff9;
  width: 60%;
  height: 100%;
  border-radius: 20px;
  animation-name: MoverSkills;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

@keyframes MoverSkills {
  from {
    width: 20%;
  }

  to {
    width: 80%;
  }
}

/***********************************************/
/***********     Portafolio            *********/
/***********************************************/
.PanelPortaFolio {
  background: #ffd233;
}

.PanelPortaFolio h2 {
  color: #00ad84;
}

.PanelPortaFolio .imagenes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}


.imagenes {
  padding: 10px;
}

img:hover {
  -webkit-transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  transform: rotateY(180deg);
  transform-style: preserve-3d;
}

/*******************************************/
/************   Clientes      **************/
/*******************************************/

.PanelClientes {
  background: #3f4e62;
}

.PanelClientes h2 {

  color: #adff28;
}

.PanelClientes .imagenes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}


/************************************************/
/**************    Contactos   ******************/
/************************************************/
.PanelContacto {
  background: #1687a0;
  text-align: center;
}

.PanelContacto h2 {

  color: #ff1b1b;
}

.PanelContacto input {
  padding: 2%;
  margin: 15px;
}

.PanelContacto button {

  font-size: 20px;
  padding: 2% 2% 2% 2%;
  margin: 10px;
  color: white;
  background: #233451;
  border-radius: 15px;
}
